@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap);
.btn-purple {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #481b68;
  background-color: #481b68;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 400;
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 20px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}
.btn-purple:hover {
  box-shadow: 1px 1px 7px #39363d;
}

.btn-purple-border {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  border-radius: 30px;
  border: 2px solid #481b68;
  background-color: transparent;
  color: #481b68;
  font-family: "Open Sans";
  font-weight: 600;
  padding: 12px 30px;
  font-size: 13px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
.btn-purple-border:hover {
  box-shadow: 1px 1px 7px #39363d;
}

.btn-purple-border::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  color: #481b68;
  background-image: url(/src/icon_phone.svg);
  background-size: cover;
  flex: 1 0 auto;
  margin-left: 10px;
  margin-right: 10px;
}

.btn-light-purple-border {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  background-color: #6a5975;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 400;
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
.btn-light-purple-border:hover {
  box-shadow: 1px 1px 7px #39363d;
  color: #39313c;
  border-color: #39313c;
}

.content-container {
  background-image: url(/src/background-noise.png);
  height: 100vh;
}

.header-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #6a5975;
  padding: 15px 0;
}

.txt-logo {
  color: #ffffff;
  font-size: 20px;
}

.ul-header {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.ul-header > li {
  font-family: "Open Sans";
  margin-left: 30px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  display: flex;
  cursor: pointer;
  align-items: center;
}
.ul-header > li:hover {
  color: #39313c;
}

.ul-header > li:first-child:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(/src/treetochki.svg);
  background-size: cover;
  flex: 1 0 auto;
  margin-left: 10px;
  margin-right: 10px;
}

.phone-conainer {
  margin-left: 30px;
  margin-left: 30;
  display: flex;
  align-items: center;
  font-family: "Open Sans";
  color: #ffffff;
  font-weight: 400;
}

.content-main {
  margin-top: 30px;
  flex: 1;
  display: flex;
  height: auto;
  justify-content: space-evenly;
}

.info {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.info > h1 {
  font-size: 40px;
  color: #481B68;
}

.info > h2 {
  margin-top: 40px;
  font-size: 16px;
  color: #481B68;
}

.info > button {
  margin-top: 40px;
  width: 250px;
  align-content: start;
  border-radius: 30px;
  background-color: #481B68;
  color: white;
  padding: 20px;
  font-size: 13px;
}

.info > h3 {
  font-size: 15px;
  margin-top: auto;
  margin-bottom: 30px;
}

.img-main-middle-div {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.image-main-middle {
  justify-content: end;
  padding-left: 40px;
  flex: 0 1 auto;
  display: flex;
  width: 70vh;
  height: 70vh;
  align-content: end;
}

.image-main-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section1-div {
  height: 1200px;
  background-color: #2C1039;
}/*# sourceMappingURL=style.css.map */